<%- include("templates/header") %>

<h1>Hello, <%= username %>!</h1>
<a href="/members" role="button">Go to members area</a>
<a href="/logout" role="button">Log out</a>

<%- include("templates/footer") %>
