<%- include("templates/header") %> 
<p>Hello, ${req.session.username}!</p>
<button><a href='/user'">Go to Members Area</a></button>
<br>
<button><a href='/logout'">Logout</a></button>
<%- include("templates/footer") %> 