<%- include("templates/header") %> 

<h1 class="text-center">Jeen Namkung COMP 2537 Assignment 2</h1>
<a href="/signup" role="button">signup</a>
<a href="/login" role="button">login</a>

<%- include("templates/footer") %> 