<%- include("templates/header") %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h1 class="text-center mb-5">Jeen Namkung COMP 2537 Assignment 2</h1>
      <div class="d-flex justify-content-between">
        <a href="/signup" class="btn btn-primary">Sign up</a>
        <a href="/login" class="btn btn-secondary">Log in</a>
      </div>
    </div>
  </div>
</div>

<%- include("templates/footer") %>
