<nav class="navbar bg-success" style="margin-top: 15px;">
  <div class="container-fluid d-flex justify-content-center">
    <span class="navbar-brand mb-0 h1">Footer</span>
  </div>
</nav>
</body>
</html>